<div class="container">
    <nav class="navbar" role="navigation" aria-label="dropdown navigation">
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
                <span class="navbar-link">
                    Menu
                </span>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="/">Home</a>
                    <a class="navbar-item" href="/counter">Counter</a>
                    <a class="navbar-item" href="/login">Login</a>
                </div>
            </div>
        </div>            

        <div class="navbar-end">
            <div class="navbar-item">
                <!-- Add mouse position. -->
            </div>
        </div>
    </nav>    

    <section class="hero is-info">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Login
                </h1>
                <h2 class="subtitle">
                    If you see this page, you are logged in.
                </h2>
            </div>
        </div>
    </section>
</div>

@section scripts {

}